@font-face{ 
	font-family: 'EraserRegular';
	src: url('../fonts/EraserRegular-webfont.eot');
	src: url('../fonts/EraserRegular-webfont.eot?iefix') format('eot'),
	     url('../fonts/EraserRegular-webfont.woff') format('woff'),
	     url('../fonts/EraserRegular-webfont.ttf') format('truetype'),
	     url('../fonts/EraserRegular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'PTSansNarrow';
	src: url('../fonts/PTN57F-webfont.eot');
	src: url('../fonts/PTN57F-webfont.eot?iefix') format('eot'),
	     url('../fonts/PTN57F-webfont.woff') format('woff'),
	     url('../fonts/PTN57F-webfont.ttf') format('truetype'),
	     url('../fonts/PTN57F-webfont.svg#webfont') format('svg');
}
