/* fonts */
@font-face {
  font-family: 'EraserRegular';
  src: url('../fonts/EraserRegular-webfont.eot');
  src: url('../fonts/EraserRegular-webfont.eot?iefix') format('eot'), url('../fonts/EraserRegular-webfont.woff') format('woff'), url('../fonts/EraserRegular-webfont.ttf') format('truetype'), url('../fonts/EraserRegular-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'PTSansNarrow';
  src: url('../fonts/PTN57F-webfont.eot');
  src: url('../fonts/PTN57F-webfont.eot?iefix') format('eot'), url('../fonts/PTN57F-webfont.woff') format('woff'), url('../fonts/PTN57F-webfont.ttf') format('truetype'), url('../fonts/PTN57F-webfont.svg#webfont') format('svg');
}
/* basic overrides */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: transparent url(../images/bg-chalk.jpg) center top no-repeat;
}
input {
  font-family: inherit;
  font-size: .8em;
  width: 200px;
  padding: 4px .5em;
  border: 1px solid #000000;
  outline: 0;
}
button {
  font-size: .8em;
  border: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 6px;
  vertical-align: middle;
}
.container {
  margin: 0 auto;
}
/* header content */
.header-form {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2.6em 0;
  text-align: center;
  z-index: 1;
}
.header-form h1 {
  margin: .5em 0 .2em 0;
  font-size: 1.4em;
  text-transform: uppercase;
}
.header-form h2 {
  font-size: 1em;
  margin: 0;
}
.header-form .form-group {
  margin: .5em 0;
}
/* main content */
.main {
  position: relative;
  overflow: hidden;
  max-height: 698px;
}
.main p.count {
  text-align: center;
}
.item-wrapper {
  margin: 0 auto;
  width: 16.875em;
  padding: 1em 0;
}
.item-wrapper ul {
  color: #ffffff;
  padding: 0;
}
.item-wrapper ul li {
  position: relative;
  list-style-type: none;
  font-family: 'EraserRegular', sans-serif;
  line-height: 1.8;
}
.item-wrapper ul li button {
  position: absolute;
  right: 0;
  font-family: sans-serif;
  line-height: 1.4;
}
.item-wrapper ul li.selected {
  background: rgba(255, 255, 255, 0.3);
}
.item-wrapper ul li.checked {
  color: #b3b3b3;
  text-decoration: line-through;
}
/* footer content */
.footer-instructions {
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-left: 1em;
}
.footer-instructions h1 {
  margin: .5em 0 .2em 0;
  font-size: 1em;
}
.footer-instructions .angle {
  position: absolute;
  right: 0;
  top: -4px;
  font-size: 2em;
  padding-right: .5em;
}
.footer-instructions .angle i:first-child {
  display: none;
}
.footer-instructions p {
  display: none;
}
@media all and (min-width: 750px) {
  .header-form {
    /* background-color: fade(red, 50%);*/
  }
}
