/* fonts */
@import '../css/fonts.css';
/*  colors */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: transparent url(../images/bg-chalk.jpg) center top no-repeat;
  background-size: cover;
}
.container {
  margin: 0 auto;
}
.header-form {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2.6em 0;
  text-align: center;
  z-index: 1;
}
.header-form h1 {
  margin: .5em 0 .2em 0;
  font-size: 1.4em;
  text-transform: uppercase;
}
.header-form h2 {
  font-size: 1em;
  margin: 0;
}
.header-form .form-group {
  margin: .5em 0;
}
.header-form input {
  font-size: .8em;
  width: 200px;
  padding: 4px .5em;
  border: 1px solid #000000;
  outline: 0;
}
.header-form button {
  font-size: .8em;
  border: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 6px;
  vertical-align: middle;
}
.main {
  position: relative;
  overflow: hidden;
}
.item-wrapper {
  margin: 0 auto;
  min-width: 300px;
}
.item-wrapper p {
  color: #ffffff;
}
.item-wrapper ul {
  color: #ffffff;
  padding: 0;
}
.item-wrapper ul li {
  list-style-type: none;
  font-family: 'EraserRegular', sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
}
.item-wrapper del {
  color: #b3b3b3;
}
.footer-instructions {
  background-color: #000000;
  color: #ffffff;
}
